$primary-bg-pricing: #e6f6f9;
$card-pricing-border: #e8e8ed;
$card-pricing-subtitle: #e8e8ed;
$card-pricing-active-border: #b4c3fe;
$badge-bg-color: #ffd3a7;
$badge-color: #8a7b80;
$subtitle-color: #898e98;
$btn-pricing-color: #675ce6;
$btn-pricing-border: #c3d3f4;
$list-bullet-bg: #e4f8ed;
$list-bullet-color: #34b588;