@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;900&display=swap");
@import "./responsive";

@mixin flexContainer($direction, $justify, $align, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Public Sans", sans-serif;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    @include desktop {
        padding: 0 64px;
    }
}

.row {
    @include flexContainer(column, flex-start, center, wrap);

    @include desktop {
        @include flexContainer(row, flex-start, unset, nowrap);
    }
}
