@import "./colors";

@mixin btn-common($bg, $color, $borderColor) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid $borderColor;
    width: 100%;
    background: $bg;
    line-height: normal;
    text-transform: capitalize;
    padding: 0.75rem 1rem;
    font-weight: 700;
    color: $color;
    font-size: 1rem;
    font-style: normal;
    transition: all 0.25s;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    &:disabled {
        cursor: not-allowed;
    }
}

.pricing {
    background-color: $primary-bg-pricing;
    padding: 2rem 0;
    background-image: url("../assets/images/pricing-bg.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 90%;

    &-title {
        font-size: 38px;
        letter-spacing: -0.9px;
    }

    &-subtitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        font-size: 14px;
        color: $subtitle-color;
    }
}

.card-pricing {
    position: relative;
    background-color: #fff;
    padding: 35px 25px 25px;
    border-bottom: 1px solid $card-pricing-border;
    width: 100%;

    &:last-child {
        border-bottom: none;
    }

    &.active {
        transform: scale(1.01);
        border-radius: 4px;
        border: 3px solid $card-pricing-active-border;
        z-index: 2;

        .badge {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $badge-bg-color;
            color: $badge-color;
            font-size: 14px;
            text-align: center;
            padding: 5px;
            font-weight: 600;

            &::before {
                content: "\2764";
                color: red;
                margin-right: 5px;
            }
        }

        .card-pricing-btn {
            @include btn-common($btn-pricing-color, #fff, transparent);
        }
    }

    &-title {
        font-size: 1.65rem;
        font-weight: 700;
        // margin-top: 1rem;
        margin-bottom: 0.4rem;
    }

    &-subtitle {
        color: $subtitle-color;
        & span {
            font-weight: 600;
        }
    }

    &-price {
        margin-top: 25px;
        margin-bottom: 20px;

        & span {
            font-size: 38px;
            font-weight: 600;
        }
    }

    &-btn {
        @include btn-common(transparent, $btn-pricing-color, $btn-pricing-border);
    }

    &-footer {
        .benefits {
            margin-top: 30px;
            font-weight: 500;

            &::after {
                // height: 1px;
                margin-top: 20px;
                display: block;
                width: 100%;
                // background: #e8e8ed;
                content: "";
                border-bottom: 1px solid #e8e8ed;
            }
        }

        ul {
            margin-left: 25px;
            list-style: none;

            li {
                margin-top: 30px;
                font-size: 14px;
                position: relative;

                // I don't have any idea
                &::before {
                    content: "\2713";
                    position: absolute;
                    margin-left: -25px;
                    background-color: $list-bullet-bg;
                    border-radius: 50%;
                    color: $list-bullet-color;
                    font-size: 12px;
                    line-height: 20px;
                    width: 20px;
                    display: inline-block;
                    text-align: center;
                }
            }
        }
    }
}
