@import "./colors";
@import "./responsive";

@mixin btn-common($bg, $color, $borderColor) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid $borderColor;
    width: 100%;
    background: $bg;
    line-height: normal;
    text-transform: capitalize;
    padding: 0.75rem 1rem;
    font-weight: 700;
    color: $color;
    font-size: 1rem;
    font-style: normal;
    transition: all 0.25s;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    &:disabled {
        cursor: not-allowed;
    }
}

.color-green {
    color: $primary-green;
    font-weight: 500;
}

.color-grey {
    color: $subtitle-color;
}

.pricing {
    background-color: $primary-bg-pricing;
    padding: 2rem 0;
    background-image: url("../assets/images/pricing-bg.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 90%;

    &-title {
        font-size: 38px;
        letter-spacing: -0.9px;

        @include desktop {
            font-size: 3.75rem;
        }
    }

    &-subheader {
        @include flexContainer(column, initial, initial, wrap);

        @include desktop {
            @include flexContainer(row, initial, center, wrap);
        }
    }

    &-subtitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        font-size: 14px;
        color: $subtitle-color;

        @include tablet {
            justify-content: unset;
        }

        &-info {
            display: flex;
            align-items: center;

            @include tablet {
                margin-right: 30px;
            }

            &::before {
                // display: flex;
                content: " ";
                background-image: url("../assets/images/star.svg");
                background-size: 14px 14px;
                height: 14px;
                width: 14px;
                margin-right: 5px;
            }
        }
    }

    &-toggle-container {
        margin-top: 25px;
        margin-bottom: 20px;

        @include flexContainer(row, initial, center, wrap);

        @include desktop {
            margin-left: auto;
        }
    }
}

.card-pricing {
    position: relative;
    background-color: #fff;
    padding: 35px 25px 25px;
    border-bottom: 1px solid $card-pricing-border;
    width: 100%;

    @include tablet {
        @include flexContainer(row, space-around, center, wrap);
    }

    @include desktop {
        @include flexContainer(column, initial, center, wrap);

        &:first-child {
            display: none;
        }
    }

    &:last-child {
        border-bottom: none;
    }

    &.active {
        transform: scale(1.01);
        border-radius: 4px;
        border: 3px solid $card-pricing-active-border;
        z-index: 2;
        overflow: hidden;

        @include desktop {
            transform: scale(1.03);
        }

        .badge {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $badge-bg-color;
            color: $badge-color;
            font-size: 14px;
            text-align: center;
            padding: 5px;
            font-weight: 600;

            &::before {
                content: "\2764";
                color: red;
                margin-right: 5px;
            }

            @include tablet {
                top: unset;
                left: -49%;
                transform: rotate(-90deg);
            }

            @include desktop {
                top: 0;
                left: 0;
                transform: unset;
            }
        }

        .card-pricing-btn {
            @include btn-common($btn-pricing-color, #fff, transparent);
        }
    }

    &-header {
        @include tablet {
            flex: 1;
            order: 1;
            padding-left: 15px;
        }

        @include desktop {
            flex: none;
            order: unset;
            padding-left: 0;
            text-align: center;
        }
    }

    &-title {
        font-size: 1.65rem;
        font-weight: 700;
        // margin-top: 1rem;
        margin-bottom: 0.4rem;
    }

    &-subtitle {
        color: $subtitle-color;
        & span {
            font-weight: 600;
        }
    }

    &-body {
        @include tablet {
            flex: 1;
            order: 3;
            text-align: center;
        }

        @include desktop {
            flex: none;
            order: unset;
            width: 100%;
        }
    }

    &-price {
        margin-top: 25px;
        margin-bottom: 20px;

        & span {
            font-size: 38px;
            font-weight: 600;
        }
    }

    &-btn {
        @include btn-common(transparent, $btn-pricing-color, $btn-pricing-border);
    }

    &-footer {
        @include tablet {
            flex: 1;
            order: 2;
            padding: 0 15px;
        }

        @include desktop {
            flex: none;
            order: unset;
            padding: 0;
            width: 100%;
        }

        .benefits {
            margin-top: 30px;
            font-weight: 500;

            @include tablet {
                margin-top: 0;
            }

            @include tablet {
                margin-top: 30px;
            }

            &::after {
                // height: 1px;
                margin-top: 20px;
                display: block;
                width: 100%;
                // background: #e8e8ed;
                content: "";
                border-bottom: 1px solid #e8e8ed;
            }
        }

        ul {
            margin-left: 25px;
            list-style: none;

            li {
                margin-top: 30px;
                font-size: 14px;
                position: relative;

                // I don't have any idea
                &::before {
                    content: "\2713";
                    position: absolute;
                    margin-left: -25px;
                    background-color: $list-bullet-bg;
                    border-radius: 50%;
                    color: $list-bullet-color;
                    font-size: 12px;
                    line-height: 20px;
                    width: 20px;
                    display: inline-block;
                    text-align: center;
                }

                span {
                    color: $subtitle-color;
                    font-weight: 300;
                }
            }
        }
    }
}

.solo-bottom {
    position: relative;
    background-color: #fff;
    padding: 35px 25px 25px;
    border-bottom: 1px solid $card-pricing-border;
    width: 100%;
    margin-top: 40px;
    display: none;

    @include desktop {
        @include flexContainer(row, space-around, center, wrap);
    }

    .card-pricing-header {
        flex: 1;
        order: 1;
        padding-left: 15px;
        text-align: left;
    }

    .card-pricing-body {
        flex: 1;
        order: 3;
        text-align: center;
    }

    .card-pricing-footer {
        flex: 2;
        order: 2;
        padding: 0 15px;

        li:first-child {
            margin-top: 0;
        }
    }
}

// W3School credits
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary-green;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
